version: 2

jobs:
  compile:
    working_directory: ~/work
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - checkout
      - run:
          command: mvn --version
      - run:
          name: Download Dependencies and Compile
          command: mvn --batch-mode verify -P ci-compile

  unit-tests:
    working_directory: ~/work
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - checkout
      - run:
          name: Execute Unit Tests
          command: mvn --batch-mode verify -P ci-unittests
      - run:
          name: Gather Test results
          command: |
            mkdir ~/test-results
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/ \;
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results
      - run:
          name: Export Code Coverage Metrics
          command: bash <(curl -s https://codecov.io/bash)

  integration-tests:
    working_directory: ~/work
    docker:
      - image: cimg/openjdk:8.0
      - image: selenium/standalone-chrome:4.1.2
    steps:
      - checkout
      - run:
          name: Execute Integration Tests (Chrome)
          command: mvn --batch-mode verify -P ci-integrationtests -DtestProfile=remote -Dremote.browser.name=chrome
      - run:
          name: Gather Test results
          command: |
            mkdir ~/test-results
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/ \;
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results
      - run:
          name: Export Code Coverage Metrics
          command: bash <(curl -s https://codecov.io/bash)

  documentation:
    working_directory: ~/work
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - checkout
      - run:
          name: Generate Documentation
          command: mvn --batch-mode verify -P ci-documentation
      - run:
          name: Gather Generated Documentation
          command: |
            mkdir ~/documentation
            find . -type f -regex ".*/target/generated-docs/.*html" -exec cp {} ~/documentation/ \;
      - store_artifacts:
          path: ~/documentation

  build-and-deploy-snapshot:
    working_directory: ~/work
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - checkout
      - run:
          name: Create Maven Settings
          command: |
            echo $SETTINGS_BASE64 | base64 --decode > /opt/apache-maven/conf/settings.xml
      - run:
          name: Deploy Snapshot to Sonatype Nexus
          command: >-
            mvn --batch-mode deploy
            -DskipUnitTests=true
            -DskipIntegrationTests=true
            -DaltDeploymentRepository=ossrh::default::https://oss.sonatype.org/content/repositories/snapshots
            -Dossrh.username=$OSSRH_USERNAME
            -Dossrh.password=$OSSRH_PASSWORD
            -P deploy-snapshot

  build-and-deploy-release:
    working_directory: ~/work
    docker:
      - image: cimg/openjdk:8.0
    steps:
      - checkout
      - run:
          name: Create Maven Settings
          command: |
            echo $SETTINGS_BASE64 | base64 --decode > /opt/apache-maven/conf/settings.xml
      - run:
          name: Import GPG Key
          command: |
            echo $GPG_KEY_BASE64 | base64 --decode | gpg --batch --import
      - run:
          name: Set Project Version
          command: |
            VERSION=$(echo $CIRCLE_TAG | cut -d 'v' -f 2)
            mvn versions:set versions:commit -DnewVersion=$VERSION
      - run:
          name: Deploy Release to Sonatype Nexus
          command: >-
            mvn --batch-mode deploy
            -DskipUnitTests=true
            -DskipIntegrationTests=true
            -Dgpg.passphrase=$GPG_PASSPHRASE
            -Dossrh.username=$OSSRH_USERNAME
            -Dossrh.password=$OSSRH_PASSWORD
            -P deploy-release

workflows:
  version: 2
  ci-build:
    jobs:
      - compile:
          filters:
            tags:
              ignore: /.*/
      - unit-tests:
          requires:
            - compile
      - integration-tests:
          requires:
            - compile
      - documentation:
          requires:
            - unit-tests
            - integration-tests
      - build-and-deploy-snapshot:
          requires:
            - documentation
          filters:
            branches:
              only:
                - master
                - releases/*.*.x

  release:
    jobs:
      - build-and-deploy-release:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
